# Load shared library and enable routine registration
useDynLib(Rhpc, .registration = TRUE)

# Explicitly export functions to be made public to users
# Example: export(RhpcApply, RhpcLapply) 
# Rewrite according to the actual public function names
exportPattern("^Rhpc")

importFrom("parallel", nextRNGStream)
